* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

header {
    color: white;
    background-color: #F26D10;
    padding-block: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

img {
    width: 100%;
    display: block;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

header a:hover,
header li:hover,
.icon.add-to:hover,
main section:hover .sale,
main section:hover .eco {
    cursor: pointer;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.content {
    width: 70%;
    margin-inline: auto;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    align-items: center;
    gap: 13px;
}

li {
    list-style-type: none;
}

header nav ul:first-child li:hover {
    text-decoration: underline;
}

header nav figure {
    width: 10%;
}

header nav figure img:hover {
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
}

.icon.user::before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
}

.icon.user:hover {
    font-weight: 900;
}

.icon.heart::before {
    font-family: "Font Awesome 5 Free";
    content: "\f004";
}

.icon.heart:hover {
    font-weight: 900;
}

.icon.bag::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f290";
}

.icon.bag:hover {
    color: yellow;
}

main {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 54.8px;
    padding-block: 50px;
}

main section {
    flex-basis: calc(100% / 3 - (20px / 3 * 2));
    min-width: 227px;
    padding: 5px;
    border-radius: 5px;
}

main section:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    background-color: lightsalmon;
    color: white;
}

main section:hover figure .icon.add-to {
    background-color: lightsalmon;
}

main section figure {
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

main section figure:hover .hidden {
    display: block;
    position: absolute;
}

.icon.add-to {
    color: black;
    text-align: center;
    width: 45px;
    height: 45px;
    border-radius: 10px 0 0 10px;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
}

.icon.add-to::before {
    content: "\f004";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 27px;
    line-height: 45px;
}

.icon.add-to:hover {
    color: red;
}

.icon.add-to:active {
    color: rgb(167, 0, 0);
}

.info-item {
    position: absolute;
    bottom: 50px;
    left: 0;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.sale::before {
    content: "-50%";
    background-color: #FF0000;
    padding: 4px 10px;
}

.eco::before {
    content: "sostenibilità";
    text-transform: capitalize;
    background-color: #008000;
    padding: 4px 10px;
}

.name-item {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
}

.brand-item {
    font-size: 13px;
    text-transform: capitalize;
}

.brand-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: purple;
}

.price-item {
    font-size: 13px;
}

.price-item span:first-child {
    color: #FF0000;
    font-weight: 600;
    margin-right: 5px;
}

.price-item span:nth-child(2) {
    text-decoration: line-through;
}

footer {
    background-color: #1A1A1A;
    padding-block: 30px;
}

footer a:hover {
    text-decoration: underline;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

footer nav div div li::first-letter,
footer nav *::first-letter,
header nav ul li {
    text-transform: capitalize;
}

.legal-infos span {
    display: inline-block;
    font-weight: 500;
    padding-bottom: 10px;
}

.legal-infos ul {
    display: flex;
    gap: 15px;
}

.legal-infos li,
.social span {
    font-size: 12px;
}

.social span {
    display: block;
    margin-bottom: 10px;
}

.social figure ul li {
    font-size: 20px;
}

.social figure ul {
    display: flex;
    gap: 7px;
}

.icon.twitter::before {
    font-family: "Font Awesome 5 Brands";
    content: "\e61a";
}

.icon.facebook::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f082";
}

.icon.instagram::before {
    font-family: "Font Awesome 5 Brands";
    content: "\e055";
}

.icon.pinterest::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f0d3";
}

.icon.youtube::before {
    font-family: "Font Awesome 5 Brands";
    content: "\f431";
}

header nav ul:nth-child(3) a:active,
.social figure ul li a:active {
    color: rgb(150, 150, 150);
}